html {
  background-color: rgb(255, 255, 255);
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  background-color: #efefef;
}

h1 {
  color: darkslategray;
  font-size: 2rem;
  border-bottom: 10px dotted purple;
}

h2 {
  font-style: italic;
  font-size: 1.5em;
}

ul {
  background-color: #eeeeee;
  padding: 30px;
  border: 5px solid purple;
  border-radius: 20px;
}

.job-title {
  color: darkslategray;
  font-weight: bold;
}

a {
  color: green;
}

a:hover, a:focus {
  color: darkgreen;
  text-decoration: none;
}
