html {
  background-color: rgb(255, 255, 255);
}

body {
  font: 1.2em / 1.5 system-ui;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.job-title {
  font-weight: bold;
}

a {
  color: rgb(204, 0, 255);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
